<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header" style="height:100px">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/static/img/roc_capital.svg" alt="ROC" title="Roc"></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">

            <li class="dropdown" style="left:70px; top:24px; font-size:16pt;">
              <a class="dropdown-toggle" data-toggle="dropdown" class="active">Search<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('lookup_init') }}">Search by AttomID</a></li>
                <!--<li><a>Another action</a></li>
                <li><a>Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a>Separated link</a></li>
                <li><a>One more separated link</a></li>-->
              </ul>
            </li>
            <li style="left:570px; top:24px; font-size:16pt;">
              {% if current_user.is_authenticated %}
                <span class="label label-default" style="font-size:14px">{{ current_user.username }}</span>&nbsp;
                <input type="button" class="btn btn-info" value="Logout" onclick="location.href = '{{ url_for('logout') }}'">
               
              {% else %}
                <input type="button" class="btn btn-primary" value="Log In" onclick="location.href = '{{ url_for('login') }}'">
                
              {% endif %}
            </li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>