{% extends 'layouts/main.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div style="height:50px"></div>


{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
	<div class="alert alert-warning" role="alert" style="max-width:800px">{{ message }}</p>
	</div>
    {% endfor %}
    
  {% endif %}
{% endwith %}


  
		{% if session['logged_in'] %}
		<p>You're logged in already!</p>
		{% else %}
		<div class="page-header">
			<div class="jumbotron" style="max-width: 800px">
				<form action="{{ url_for('login') }}" method="POST">
				<h3>Roc User Login</h3>
				<br><br>
				
					{{ form.csrf_token }}
					{{ form.hidden_tag() }}
					{{ form.email.label }} {{ form.email(size=20) }} &nbsp;&nbsp; 
					{% for error in form.email.errors %}
						<span style="color: red;">* {{ error }}</span>
					{% endfor %}

					{{ form.password.label }} {{ form.password(size=20) }} &nbsp;&nbsp; 
					{% for error in form.password.errors %}
						<span style="color: red;">* {{ error }}</span>
					{% endfor %}
					<br>
					<p>
					<div style="font-size:10pt">{{ form.remember_me() }} {{ form.remember_me.label }}</div>

					</p>

					{{ form.submit(class_="btn btn-primary btn-small") }}
	
				</form>
			</div>
		</div>
			
			
 
{% endif %}

<p class="lead"></p>

{% endblock %}


