{% extends 'layouts/main.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<div class="jumbotron" style="width:100%">
  <h2>{{ subject }}</h2><br>
<p>
<h4>{{ summary }}</h4>
<p>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">{{ message }}</p></div>
        {% endfor %}
    {% endif %}
{% endwith %}

   <!--Generate Results Form -->
   {% if lookup_key %}
        AttomID: <span class="label label-info">{{ lookup_key.upper() }}</span>
   {% endif %}    
    
    <div style="width:800px;">
    
    {% if form %}
        {{ wtf.quick_form(form) }}
    {% endif %}
    </div>

    {% if action == 'attomid' %}

    <div class="table-responsive">
        {% if result == 'No results found' %}
            {{ result }}
        {% else %}
        <table class="table table-striped table-bordered table-hover" style="background-color: #FFFFFF;font-size:12px">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Action Date</th>
                    <th>Purchase Date</th>
                    <th>Sell Date</th>
                    <th>Recording Date</th>
                    <th>Description</th>
                    <th>Seller</th>
                    <th>Buyer</th>
                    <th>Lender</th>
                    <th>Loan Amount</th>
                    <th>Sell Price</th>
                    <th>Interest Rate</th>
                </tr>
            </thead>
            <tbody>
                
                {% for idx, val in result.items() %}
                <tr>
                    <td>{{ idx }}</td>
                    <td>{{ val['action date'] }}</td>
                    <td>{{ val['purchase date'] }}</td>
                    <td>{{ val['sell date'] }}</td>
                    <td>{{ val['recording date'] }}</td>
                    <td>{{ val['description'] }}</td>
                    <td>{{ val['seller'] }}</td>
                    <td>{{ val['buyer'] }}</td>
                    <td>{{ val['lender'] }}</td>
                    <td>{{ val['loan amount'] }}</td>
                    <td>{{ val['sell price'] }}</td>
                    <td>{{ val['interest rate'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
        
            
        
    <p>
    <br>
    <a href="{{ url_for('lookup_init') }}"><button type="button" class="btn btn-primary">Search Again</button></a>
    {% endif %}
   
</div>
<br>

{% endblock %} 
