{% extends 'layouts/main.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div style="height:50px"></div>
<div class="page-header">
  <h1>500 Server Error:</h1>
  <div class="alert alert-danger">{{ msg }}</div>
</div>
<p class="lead"></p>

{% endblock %}
