{% extends 'layouts/main.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div style="height:50px"></div>
<div class="page-header">
  <div class="jumbotron">
      {% if current_user.is_authenticated %}
        Hi {{ current_user.username }}!
      {% endif %}
      
    <h1>Welcome to Roc Portal</h1>
    <p><br></p>
    <p><a class="btn btn-primary btn-lg" href="{{ url_for('lookup_init') }}" role="button">Search Listings</a></p>
  </div>
</div>
<p class="lead"></p>

{% endblock %}
